body{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
.container{
  margin: 0; 
  padding: 0; 
  max-width: 100%;
}
.container > a img{margin-left: 460px;}
.navbar-expand .navbar-nav{
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  margin-top: 30px;
}
.navbar-expand .navbar-nav .nav-link{
  display: block;
  margin-right: 25px;
  font-weight: 700;
  color: black;
  font-size: 16px;
}
.search{position: absolute; left: 50%;  top: 40px; transform: translateX(-50%);}
.search img{
  width: 24px; height: 24px;
  position: absolute;
  right: 20px; top: 7px;
}
.search input{
  border: 2px solid #00CD3C;
  border-radius: 50px;
  width: 300px;
  padding: 5px 0;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
}
.product-list{cursor: pointer; }
.product-list .title{margin-top: 20px; font-weight: 800;}
.product-list .name{margin: 10px 0;}
.row{margin-left: 75px;}
.col-lg-3{width: 350px; margin-top: 80px;}
.col-lg-3 img{width: 100%;}
.product-detail.row{margin: 0 auto; margin-top: 80px;}
.row.img.row {max-width: 100%;}
.col div{margin-bottom: 10px}
.col .title{font-size: 28px; font-weight: 700;}
.col .title span{font-weight: 500;}
.col .name{font-size: 20px; font-weight: 500;}
.product-detail.row{width: 1000px;}
.productDetail-img.col img{
  text-align: right;
  width: 100%;
}